body {
    margin: 0;
    color: #19282F;
    font-size: 1em;
    background-color: #E9EFC0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    padding: 50px calc(30% + 20px);
    text-align: justify;
    border-width: 1px 0;
    background-color: #B4E197;
    border-radius: 10px;
}
.header-container {
    background-color: #E9EFC0;
    padding: 80px 30%;
}
.top {
    border-radius: 0;
    padding: 50px calc(30% + 20px);
}
.mid {
    padding: 50px calc(30% + 20px) 50px 20px;
    margin-left: 30%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bot {
    padding: 50px 20px 50px calc(30% + 20px);
    margin-right: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sep {
    padding: 20px 0;
    border: none;
}
.footer {
    background-color: #83BD75;
    padding: 30px 0 30px;
    text-align: center;
    bottom: 0;
}
h1 {
    text-align: center;
}
.header-text {
    display: inline-block;
}
h3 {
    margin-top: 0;
}
.btn {
    background: #E9EFC0;
    color: #19282F;
    padding: 5px 30px;
    margin: 0 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    border-radius: 10px;
}
.btn:hover {
    background: #c6cca4;
}
.tree {
    max-width: 20%;
    max-height: 20%;
    display: inline-block;
    float: left;
}